<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="8" android:versionName="2.2.1" package="com.motorola.android.AudioEffectSettings"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="android.app.Application">
        <activity android:label="@string/app_name" android:name="DeviceListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.music.launch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="com.motorola.AudioSaction.SET_AUDIO_EFFECT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.motorol.AudioEffectSettings/audio_effect_settings" />
            </intent-filter>
        </activity>
        <activity android:name="AudioSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>
        <receiver android:name="AudioSettingBroatcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
